.button{
    color: white;
    padding: 10px;
    text-align: center;
    display: inline;
    border-radius: 4px;
}

.primary {background-color: rgb(71, 54, 194);}
.secondary{background-color: rgb(151, 144, 144);}
.success {background-color: green;}
.danger{background-color: red;}