.input {
    width: 200px;
    border-radius: 1px;
    border: 1px solid;
    background-color: white;
}

.small {
    height: 20px;
    font-size: 7px;
}

.medium{
    height: 30px;
    font-size: 10px;
}

.large{
    height: 50px;
    font-size:15px;
}